@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* 헤더 */
  .nav-blur {
    @apply bg-zinc-50/85 backdrop-blur-lg;
  }

  .nav-border {
    @apply border-b border-zinc-300;
  }

  .global-nav {
    @apply h-[44px] px-[16px] py-[14px];
  }

  .local-nav {
    @apply min-h-[48px] px-[16px] pt-3
          transition-[max-height] ease-in-out duration-500;
  }

  .global-nav-links,
  .local-nav-links {
    @apply flex items-center max-w-screen-lg mx-auto h-full;
  }

  .local-nav-links .product-name {
    @apply font-semibold mr-auto text-xl;
  }

  .local-nav-links .linked-button {
    @apply bg-[#006EDB] rounded-2xl text-white px-[9px] py-[4px];
  }

  .local-nav-links .mobile-toggle-button {
    @apply md:hidden;
  }

  .local-nav-links a:not(.product-name),
  .local-nav-links button {
    @apply text-xs ml-4;
  }

  .local-nav-links a:not(.product-name) {
    @apply hidden md:block;
  }

  .local-mobile-links {
    @apply flex flex-col my-5 md:hidden overflow-hidden
          transform transition-[transform,opacity] ease-in duration-300;
  }

  .local-mobile-links a {
    @apply text-sm mx-4 my-2;
  }

  .local-nav-links .mobile-toggle-button {
    @apply lg:hidden;
  }
}

body {
  overflow-x: hidden;
  letter-spacing: -0.02em;
  background: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic",
    "HY Gulim", MalgunGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
